@import url("./estilo.css");
@import url(".etilos/banner.css");

:root {
    
    --cor-de-fundo: #25874C;
    --cor-da-fonte:#fffdfd;
    --cor-fonte-titulo:#ffffff;
}



body{
     background-color:var(--cor-de-fundo);
        color:#25874C;
}
.cabecalho{
background-color: var(--cor-de-fundo);
color: #0d0f0e;
font-size: 18px;
display: flex;


}



.cabecalho-menu-hamburguer{ 
height: 10px;    
width:  10px;



background-image: url();




}




