@import url("./estilo.css");
@import url(".etilos/banner.css");

:root {
    
    --cor-de-fundo: #25874C;
    --cor-da-fonte:#fffdfd;
    --cor-fonte-titulo:#ffffff;
}



body{
     background-color:var(--cor-de-fundo);
        color:#fff;
}
.cabecalho{
background-color: var(--cor-de-fundo);
color: #0d0f0e;
font-size: 18px;
display: flex;


}
.menu{
    width: 60px;
    height: 60px;
}
.casinha{
width: 100px;
height: 100px;

}
.coisinha{
width: 80px;
height: 80px;


}

.rodape{
    margin-top: 25px;
background-color: #7ce0a4;
color:#0b0b0b(192. 192. 192);
height: 80px;
text-align: center;





}

@media (min-width:1024px){
    .container{
        display: none;
    }
    .casinha{
        width: 2000px;
    }
}




